@model IEnumerable<ReceitaStdResponse>

<link rel="stylesheet" href="~/css/receita.css" />

@{
    ViewData["Title"] = "Receitas";
    var search = Context.Request.Query["search"];
}

<div class="banner">
    <img src="/img/fullbanner-receitas.png" />
</div>

<div>
    <form method="get">
        <label>Busca por receita</label>
        <input type="text" name="search" id="search" autocomplete="off" autofocus />
        <button type="submit">Procurar</button>
        <button type="submit" asp-action="Create" asp-controller="Receita">Novo</button>
    </form>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <article>
                <div class="title">
                    <div class="foto">
                        @if (!string.IsNullOrEmpty(@item.FotoContent))
                        {
                            <img src="data:image/png;base64, @item.FotoContent" alt="Red dot" />
                        }
                    </div>

                    <h4>
                        <a asp-action="Edit" asp-route-id="@item.Id">@item.Titulo</a>
                    </h4>
                </div>

                <div>
                    <p>
                        <a asp-action="Edit" asp-route-id="@item.Id">@item.Descricao</a>
                    </p>
                </div>
            </article>

            <hr />
        }
    }

</div>

@section scripts {
<script>
    $('#search').val("@search");
</script>
}
